.btn {
  &:link {
    @include button-prop;
  }
  &:visited {
    @include button-prop;
  }
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.6s;
  }
}
.btn-animated {
  animation: moveButton 0.9s ease-out 1s;
  animation-fill-mode: backwards;
}
.btn-white {
  background-color: white;
  color: #777;
  &::after {
    background-color: white;
  }
}

.btn:hover::after {
  transform: scale(1.5);
  opacity: 0.5;
}

.btn-text{
  transition: all 0.2s;
  padding:5px;
  
  &:link, &:visited {
    color: $darkgreen;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid  $darkgreen;
    font-size: 1.6rem;
  }

  &:hover{
    background-color: $darkgreen;
    color:white;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }

  &:active{
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: translateY(0);
  }
}